.menu-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 63px;
  color: #000000;
  padding-left: 11%;
  margin-top: 2rem;
}

.line {
  width: 438px;
  height: 4px;
  background: #7DAC75;
  margin-left: 11%;
}